:root {
  --bs-blue: #1974cf;
  --bs-indigo: #6610f2;
  --bs-purple: #33236c;
  --bs-light-purple: #bb86fc;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #f4623a;
  --bs-yellow: #ceb728;
  --bs-green: #03dac6;
  --bs-teal: #20c997;
  --bs-cyan: #0decf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f4623a;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #121212;
  --bs-primary-rgb: 244, 98, 58;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
}

.purple {
  color: var(--bs-purple);
}

.yellow {
  color: var(--bs-yellow);
}

.grey {
  color: var(--bs-gray-500);
}

h2,
h3,
h4,
h5 {
  color: #8e8282bd;
  font-weight: 400;
}

.m-auto {
  margin: auto;
}

.m-8 {
  margin: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.pt-0 {
  padding-top: 0px;
}

.w-50 {
  width: 50%;
}

.btn {
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  width: 50%;
  cursor: pointer;
  margin: 8px;
}

body {
  margin: 0 !important;
  height: 100%;
  /* background: var(--bs-dark); */
  background-color: #050610;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex {
  display: flex;
}

@media (min-width: 1000px) {
  .container {
    margin-top: 3em;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-top: 4em;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/****************** LOGIN AND REGISTER *******************/
.login {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.register {
  justify-content: center;
}

.register h2 {
  color: white;
  align-self: center;
}

.register-btn {
  margin-top: 2em;
}

.login-title {
  display: flex;
  justify-content: center;
  padding: 0 20px 20px 20px;
}

.login-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-RegText {
  width: 75%;
  border-radius: 10px;
  border: 2px solid;
  padding: 10px;
  font-size: 1em;
  margin: 10px;
}

.log-btn {
  background-color: var(--bs-gray-dark);
}

.passport-btn {
  display: flex;
  color: white;
  border-radius: 10px;
  width: 70%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  padding: 2px;
  margin-top: 1em;
}

#google-btn {
  background-color: #c23825;
}

#google-btn:active {
  transform: translateY(5px);
}

#facebook-btn {
  background-color: #304a7d;
}

#facebook-btn:active {
  transform: translateY(5px);
}

#github-btn {
  background-color: #121212;
}

#github-btn:active {
  transform: translateY(5px);
}

#instagram-btn {
  background-image: linear-gradient(
    to right,
    #6559ca 5%,
    #bc318f 30%,
    #e33f5f 50%,
    #f77638 70%,
    #fec66d 100%
  );
}

#instagram-btn:active {
  transform: translateY(5px);
}

.btn-text {
  margin: auto;
  font-size: 1.1rem;
}

.message {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #121212;
  border: 2px solid #000;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  padding: 0 40px 30px;
  text-align: center;
  font-size: 1.5em;
  color: red;
}

.message button {
  margin-top: 1.5em;
  background-color: var(--bs-gray-dark);
  color: white;
  /* padding-left: 1em;
  padding-right: 1em; */
  padding: .25em 1.5em;
  font-size: .75em;
}

.remove {
  visibility: hidden;
}

@media (min-width: 400px) {
  .login-title {
    padding: 0 25px 25px 25px;
  }

  .login-title img {
    height: 120px !important;
    width: 300px !important;
  }

  .btn-text {
    font-size: 1.3rem;
  }

  .log-RegText {
    font-size: 1.3em;
  }

  .message {
    font-size: 1.95em;
  }

  .message button {
    margin-top: 2em;
    font-size: .75em;
  }

  .passport-btn img {
    height: 50px !important;
    width: 50px !important;
  }

}

@media (min-width: 500px) {
  .passport-btn {
    width: 50%;
  }

  .btn {
    width: 40%;
  }

  .log-RegText {
    width: 60%;
  }

  .message {
    width: 30%;
    padding: 0 50px 30px;
  }
}

@media (min-width: 768px) {
  .login-title img {
    height: 140px !important;
    width: 350px !important;
  }

  .log-RegText {
    font-size: 1.3em;
  }

  .btn {
    font-size: 1.5em;
  }

  .log-btn {
    font-size: 1.2em;
  }

  .btn-text {
    font-size: 1.4rem;
  }

  .passport-btn {
    margin-top: 2em;
  }

  .passport-btn img {
    height: 60px !important;
    width: 60px !important;
  }

  .message {
    font-size: 2em;
    padding: 0 80px 30px;
  }

  .register-message {
    font-size: 2.5em;
  }


  .message button {
    font-size: 1.5rem;
  }

}

@media (min-width: 900px) {
  .login-title img {
    height: 160px !important;
    width: 400px !important;
    margin-bottom: 2em;
  }

  .log-RegText {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .btn {
    font-size: 1.75em;
    margin-bottom: 1em;
  }

  .btn-text {
    font-size: 2rem;
  }

  .passport-btn img {
    height: 80px !important;
    width: 80px !important;
  }

  .message {
    font-size: 2em;
    padding: 0 100px 30px;
  }

  .register-message {
    font-size: 2.5em;
  }

  .message button {
    font-size: 2rem;
  }

}

/******  Tablets and Larger Landscape ******/
@media (orientation: landscape) {
  .login-title {
    padding: 0 20px 20px 20px;
  }

  .login-title img {
    margin-bottom: 2em;
  }

  .register h1 {
    display: none;
  }

  .log-RegText {
    width: 50%;
    font-size: 1.3em;
  }

  .btn {
    font-size: 1.5em;
  }

  .log-btn {
    font-size: 1.2em;
    width: 30%;
  }

  .btn-text {
    font-size: 1.3em;
  }

  .passport-btn {
    width: 40%;
  }

  .passport-btn img {
    height: 50px !important;
    width: 50px !important;
}

  #google-btn {
    margin-top: 8px;
  }

  .icon-container {
    padding-bottom: 24px;
  }

  .message {
    width: 20%;
    font-size: 1.5em;
  }

  .register-message {
    font-size: 1.95em;
  }

  .message button {
    font-size: 1.5rem;
  }

}

/******  Phone Landscape ******/
@media (max-height: 600px) { 
  .login-title {
    padding: 15px;
  }
}
@media (max-height: 500px) { 
  .login-title {
    padding: 10px;
  }

  .login-title img {
    height: 100px !important;
    width: 250px !important;
  }

  .log-RegText {
    margin: 2px;
    padding: 5px;
    font-size: 1.2em;
  }

  .btn {
    padding: 5px 0;
    margin: 8px;
    font-size: 1em;
  }

  .btn-text {
    font-size: 1rem;
  }

  .passport-btn {
    margin-top: 1em;
  }

  .passport-btn img {
    height: 30px !important;
    width: 30px !important;
  }

  .message {
    font-size: 1.25em;
    width: 15%;
    padding: 0 40px 30px;
  }

  .message button {
    font-size: .65em;
  }
}

@media (min-width: 1200px) {
  .login-Container {
    margin-bottom: 1em;
  }

  .log-RegText {
    margin-bottom: .5em;
    width: 40%;
    font-size: 1.5em;
  }

  .log-btn {
    width: 30%;
    margin-bottom: .5em;
    font-size: 1.2em;
  }

  .btn-text {
    font-size: 1.3em;
  }

  .passport-btn {
    width: 30%;
  }

  .passport-btn img {
    height: 50px !important;
    width: 50px !important;
  }

  .message {
    font-size: 2em;
  }
}

/****************** NAVBAR ********************/
.iconBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  color: var(--bs-purple);
  z-index: 5;
}

.iconBar img {
  height: 60px !important;
  width: 60px !important;
}

.trophy {
  top: 2px !important;
}

.avatar {
  height: 45px !important;
  width: 45px !important;
  font-size: 1.75rem !important;
}

@media (min-width: 390px) {
  .iconBar img {
    height: 80px !important;
    width: 80px !important;
  }

  .avatar {
    height: 60px !important;
    width: 60px !important;
    font-size: 2.3rem !important;
  }
}

@media (min-width: 768px) {
  .iconBar img {
    height: 100px !important;
    width: 100px !important;
  }

  .avatar {
    height: 70px !important;
    width: 70px !important;
    font-size: 2.3rem !important;
  }
}

@media (min-width: 900px) {
  .iconBar img {
    height: 120px !important;
    width: 120px !important;
  }


  .avatar {
    height: 90px !important;
    width: 90px !important;
    font-size: 2.75rem !important;
  }
}

@media (orientation: landscape) {
  .iconBar {
    margin-bottom: 0;
  }
}

@media (max-height: 500px) {
  .iconBar {
    margin-bottom: 1rem;
  }

  .iconBar img {
    height: 80px !important;
    width: 80px !important;
  }
}

/****************** HOME ********************/
.container {
  display: flex;
  flex-grow: 1;
  padding-bottom: 10px;
}

.fill {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin-top: 10px;
}

.grid-container {
  padding-left: 10px;
  padding-right: 10px;
}

.grid-item {
  background-color: var(--bs-purple);
  text-align: center;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  padding: 5px 0;
  cursor: pointer;
}

.grid-item a {
  color: var(--bs-yellow);
  text-decoration: none;
}

.grid-item svg {
  font-size: 1.5em;
}

.fill img {
  animation: floating 2s ease-in-out infinite
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 8px); }
  100%   { transform: translate(0, -0px); }   
}

@media (min-width: 340px) {
  .grid-item {
    padding: 8px 0;
    font-size: 1.1rem;
  }
}

@media (min-width: 400px) {
  .grid-item {
    padding: 10px 0px;
    font-size: 1.2rem;
  }

  .grid-item svg {
    font-size: 1.75em;
  }
}

@media (min-width: 540px) {
  .grid-item {
    font-size: 1rem;
    padding: 6px 0;
  }
}

@media (min-width: 600px) {
  .grid-item {
    font-size: 1.5rem;
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .grid-item svg {
    font-size: 2.25em;
  }

  .fill {
    margin-top: 20px;
  }

  .container {
    padding-bottom: 20px;
    margin-top: 20px;
  }
}


@media (min-width: 820px) {
  .grid-item {
    font-size: 1.6rem;
  }
}

@media (min-width: 900px) {
  .grid-item {
    font-size: 1.8rem;
    padding: 20px 0;
  }

  .grid-item svg {
    font-size: 3.5rem !important;
  }

  .container {
    margin-top: 60px;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-height: 900px) {
  .grid-item {
    padding: 14px 0;
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) {
  .row {
    flex-direction: row-reverse;
  }

  .fill {
    display: none;
  }

  .grid-item svg {
    font-size: 1.75em;
  }

  .container {
    height: fit-content;
    margin: auto;
  }

  .grid-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-height: 600px) {
  .grid-item svg {
    font-size: 1.85rem !important;
  }
}

@media (max-height: 500px) {
  .grid-container {
    margin-bottom: 1rem;
  }

  .grid-item {
    font-size: 1.1rem;
    padding: 10px 0;
  }
}

/************* Scorecard ****************/
.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
  text-transform: uppercase;
}

.scorecard span {
  color: var(--bs-yellow);
}

.scorecard p {
  color: var(--bs-white);
  margin: 0;
  margin-bottom: 5px;
}

.dial {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3em;
  min-width: 3em;
  color: var(--bs-white);
  border-radius: 50%;
  border: solid 3px var(--bs-yellow);
  font-size: 1.4rem;
}

/*************PROFILE PAGE****************/
.profile-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 30px;
}

.profile-name {
  display: flex;
  justify-content: center;
  background-color: var(--bs-purple);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  margin-top: 16px;
}

.profile-name p {
  margin: 8px !important;
  font-weight: 500;
  font-size: 1.2em;
}

.welcome {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: solid 2px var(--bs-purple);
  border-top: none;
}

.welcome p {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.score {
  color: #ffffff;
}

.profile-btn {
  margin: auto;
  margin-top: 16px;
  background-color: var(--bs-purple);
  border: 1px solid var(--bs-yellow);
  color: var(--bs-yellow);
  margin-bottom: 30px;
}

.my-score {
  flex-grow: 1;
  position: relative;
}

.my-score img {
  object-fit: scale-down !important;
}

@media (min-width: 360px) {
  .profile-page {
    padding-bottom: 45px;
  }

  .profile-btn {
    margin-bottom: 45px;
    font-size: 1.2em;
  }

  .profile-name {
    margin-top: 10px;
  }

  .profile-name p {
    font-size: 1.5rem;
  }

  .welcome p {
    font-size: 1.4rem;
  }
}

@media (min-width: 400px) {
  .profile-name p {
    font-size: 1.75rem;
  }

  .welcome p {
    font-size: 1.65rem;
  }

  .profile-btn {
    font-size: 1.4em;
  }
}

@media (min-width: 500px) {
  .profile-name {
    margin-top: 8px;
    padding: 8px;
  }

  .profile-name p {
    font-size: 1.5rem;
  }

  .welcome p {
    font-size: 1.5rem;
  }

  .my-score {
    margin-top: auto;
    margin-bottom: auto;
  }

}

@media (min-width: 600px) {
  .profile-name {
    margin-top: 24px;
    padding: 14px;
  }

  .profile-name p {
    font-size: 1.75rem;
  }

  .welcome p {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .profile-name {
    margin-top: 46px;
  }

  .profile-name p {
    font-size: 2rem;
  }

  .welcome {
    padding: 24px;
  }

  .welcome p {
    font-size: 2rem;
  }

  .resize {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-btn {
    font-size: 1.75em;
  }
}

@media (min-width: 900px) {
  .profile-page {
    padding-bottom: 60px;
  }

  .profile-name {
    margin-top: 54px;
  }

  .profile-name p {
    font-size: 2.3rem;
  }

  .welcome p {
    font-size: 2.5rem;
  }

  .resize {
    width: 80%;
  }

  .profile-btn {
    font-size: 2em;
    padding: 18px 0;
    margin-bottom: 60px;
  }
}

@media (orientation: landscape) {
  .profile-page {
    padding-bottom: 24px;
  }

  .profile-name {
    margin-top: 8px;
  }

  .profile-name p {
    font-size: 1.75em;
  }

  .welcome p {
    font-size: 1.85rem;
  }

  .resize {
    width: 80%;
    margin: auto;
  }

  .profile-btn {
    font-size: 1.8em;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media (max-height: 500px) {
.avatar {
  height: 60px !important;
  width: 60px !important;
  font-size: 2.3rem !important;
}

.profile-btn {
  font-size: 1.4em;
}
}

@media (max-height: 600px) {
  .my-score {
    display: none;
  }

  .profile-name {
    margin-top: 0;
  }

  .profile-name p {
    font-size: 1.5rem;
  }

  .welcome p {
    font-size: 1.5rem;
  }

}

@media (min-width: 1200px) {
.profile-name p {
  font-size: 2.25em;
}

.welcome p {
  font-size: 2.25rem;
}

}
/***********Leaderboard***********/
.particle-bg {
  position: absolute;
  top: 0;
  z-index: 1;
}

.leaderboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.lead-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vw;
  flex-grow: 1;
}

table {
  border-collapse: collapse;
  font-size: 1.5em;
  color: #ffffff;
  width: 100vw;
  table-layout: fixed;
}

td {
  overflow: hidden;
}

.table-title {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  color: var(--bs-yellow);
  border-bottom: solid 1px #8b8e8e0f;
  padding: 0px 8px 8px;
}

.left-column {
  padding-left: 10px;
  width: 40px;
}

.middle-column {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 55%;
}

.right-column {
  text-align: end;
  padding: 0 16px;
}

.prize {
  top: 5px !important;
}

.ss {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  z-index: 0;
  margin: 0 auto;
}

.world {
  width: 20rem;
  height: 10rem;
  background-color: #050610;
  background-image: url("/e.jpg");
  border-radius: 10rem 10rem 0 0;
  position: relative;
  animation-name: rotate;
  animation-duration: 32s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1024px;
  }
}

@media (min-width: 360px) {
  table {
    font-size: 1.75em;
  }
}

@media (min-width: 375px) {
  .lead-container {
    height: 100vw;
  }

  table {
    font-size: 1.75em;
  }
}

@media (min-width: 400px) {
  .dial {
    font-size: 1.5rem;
  }
  .world {
    border-radius: 50%;
    height: 100%;
  }

  .lead-container {
    height: 350px;
    flex-grow: 0;
  }

  .prize {
    top: 10px !important;
  }
}

@media (min-width: 500px) {
  .world {
    width: 20rem;
    height: 10rem;
    border-radius: 10rem 10rem 0 0;
  }

  .lead-container {
    height: 40vh;
  }

  table {
    font-size: 1.5em;
  }

  .left-column {
    padding-left: 24px;
  }

  .right-column {
    padding-right: 32px;
  }
}

@media (min-width: 600px) {
  .scorecard {
    font-size: 1.5em;
  }

  .dial {
    font-size: 1.75rem;
  }

  .world {
    border-radius: 50%;
    height: 20em;
    width: 20em;
  }

  .lead-container {
    height: 40vh;
  }

  table {
    font-size: 2.5em;
  }

  .left-column {
    width: 70px;
  }

  .left-column img {
    height: 60px !important;
  }

  .right-column {
    padding-right: 32px;
  }

  .prize {
    top: 15px !important;
  }

  .table-title {
    font-size: 2em;
  }
}

@media (min-width: 900px) {
  .scorecard {
    font-size: 2em;
  }

  .dial {
    font-size: 2.25rem;
    height: 3.5em;
    width: 3.5em;
  }

  .world {
    height: 25em;
    width: 25em;
  }

  table {
    font-size: 2.75em;
  }

  .middle-column {
    overflow: hidden;
  }

  .table-title {
    font-size: 2.5em;
  }
}

@media (min-width: 1200px) {
  .scorecard {
    font-size: 2em;
  }

  .dial {
    font-size: 2rem;
    height: 3.5em;
    width: 3.5em;
  }

  .world {
    height: 25em;
    width: 25em;
  }

  table {
    font-size: 2em;
  }

  .table-title {
    font-size: 2em;
  }
}

@media (orientation: landscape) {
  .scorecard {
    font-size: 1.5em;
  }

  .dial {
    font-size: 1.5rem;
    height: 3em;
    width: 3em;
  }

  .table-title {
    font-size: 1.5em;
  }

  table {
    font-size: 1.5em;
    width: 75vw;
    margin: auto;
  }

  .left-column img {
    height: 40px !important;
  }

  .prize {
    top: 5px !important;
  }

  /* .lead-container {
    height: 100vw;
  } */
}

@media (max-height: 800px) {
  .world {
    width: 20rem;
    height: 10rem;
    border-radius: 10rem 10rem 0 0;
  }
}

@media (min-height: 1200px) {
  .world {
    height: 25em;
    width: 25em;
  }

  .scorecard {
    font-size: 2.5em;
  }

  .dial {
    font-size: 2.5rem;
  }
}

@media (max-height: 500px) {
  .lead-container {
    height: 100vw;
  }
  
  .ss {
    display: none;
  }
}

/***********Quiz***********/
.quiz-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-btn {
  background-color: #331f71;
  margin-left: auto;
  margin-right: auto;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
}

.question-container {
  flex-grow: 1;
  color: #c7c7c7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.question {
  background-color: #050610;
  
}

.button-group {
  background-color: #050610;
  padding-top: 1em;
}

.button-group button {
  font-size: 1.3rem !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.done {
  color: #03dac6;
}

.quiz-fill {
  margin: auto;
}

.rotate {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
